<section class="lv-bg">
  <h1 class="site-title"><a href='/'>SMTH SPECIAL? GILFOYLE WILL HIDE</a></h1>
  Great! Your message is available at <a href="<%= url @link %>"><%= url @link %></a>
  during next 5 hours or 5 visits!
</section>
