<html lang="en">
<head>
  <title>Gifloyle</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" type="text/css" href='/css/main.css'>
  <link rel="stylesheet"
        href="http://fonts.googleapis.com/css?family=Muli:300,400"
        rel="stylesheet"
        type="text/css">
  <link href="http://docs.justinav.info/cfbc.css" rel="stylesheet" type="text/css">
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script type='text/javascript' src='game.js'></script>
</head>

<body>
  <section class="lv-bg">
    <h1 class="site-title"><a href='/'>SMTH SPECIAL? GILFOYLE WILL HIDE</a></h1>
    <%= yield %>
  </section>
</body>
