<section class="lv-bg">
  <h1 class="site-title"><a href='/'>SMTH SPECIAL? GILFOYLE WILL HIDE</a></h1>
  <form method='post' action='/message'>
    <textarea name="text" placeholder='Enter your super secret message...'></textarea></br>
    <input name="days" type="text" placeholder='Days'></br>
    <input name="visits" type='text' placeholder='Visits'></br>
    <input name='password' type="text" placeholder='Password'></br>
    <input type="submit" value="Send">
  </form>
</section>
