body {
  font: 400 16px 'Muli', sans-serif !important;
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
  max-width: 100%;
  padding: 30px;
  text-align: center;
  overflow: auto;
}

.site-title {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
}

h1 a {
  text-decoration: none;
  color: black;
}

.error-field {
  color: red;
}

textarea:focus, input:focus{
  outline: none;
}

textarea, input {
  width: 540px;
  border: none;
  text-decoration: none;
  resize: none;
}

textarea {
  padding-bottom: 100px;
}

input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 100px;
    color: white;
}
